@model IEnumerable<Gadget.Data.Data.CMS.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-sm" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
<table class="table table-hover table-striped">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td class="text-center">
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.PageId">
                    <img class="icon" src="~/icons/edit.png" alt="Edit" title="Edit">
                </a>
                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.PageId">
                    <img class="icon" src="~/icons/info.png" alt="Details" title="Details">
                </a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.PageId">
                    <img class="icon" src="~/icons/bin.png" alt="Delete" title="Delete">
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
